$spacing-sizes: ( '1': 1rem, '2': 1.5rem, '3': 2rem, '4': 2.5rem, '5': 3rem);
$spacing-sides: ( 't': 'top', 'l': 'left', 'r': 'right', 'b': 'bottom');

@each $level, $space in $spacing-sizes {
	.m-#{$level} { margin: $space }
	.p-#{$level} { padding: $space }

	.my-#{$level} { margin-top: $space; margin-bottom: $space; };
	.py-#{$level} { padding-top: $space; padding-bottom: $space; };

	.mx-#{$level} { margin-left: $space; margin-right: $space; };
	.px-#{$level} { padding-left: $space; padding-right: $space; };

	@each $letter, $side in $spacing-sides {
		.m#{$letter}-#{$level} { margin-#{$side}: $space; }
		.p#{$letter}-#{$level} { padding-#{$side}: $space; }
	}
}

.mr-auto { margin-right: auto; }
.ml-auto { margin-left: auto; }
