html { scroll-behavior: smooth; }

body {
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.3;
}

$black: #050517;
$white: #f5f5ff;
$gray: #a5a5b5;
$red: #CF5C36;
$green: #65B891;
$blue: #2C365E;

@mixin flex-center {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}



